table{
    width: 12%;
    position: fixed;
    padding-top: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
td{
    background-color: black;
}
body{
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
p{
    color: white;
    margin-left: 200px;
    margin-right: 200px;
}
h1{
    color: grey;
    transition: 0.5s;
}
h1:hover{
    transform: scale(1.2);
    color: red;
}
h3{
    color: brown;
}
h4{
    color: aqua;
}
a{
    text-decoration: none;
    color: white;
    transition: 1s;
}
.class1{
    height: 200px;
}
a:hover{
    color: red;
}